# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# fichier '.env'
#   variables loader par React Native
#
# doc : https://github.com/zetachang/react-native-dotenv
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

OPENWEATHERMAP_APIKEY=xxxx
ABOUT_EMAIL="author@example.com"
